.screen-overlay {
	background-color: blue;
	box-sizing : border-box;
	padding : 0;
	border : none;
}

.screen-input {
	text-align : center;
	background-color : transparent;
	border : none;
	outline : none;
}

.screen-flex-1 {
	flex: 1;
}

.screen-transparent {
	color: transparent;
}